DATABASE_URL="postgresql://postgres.nyweizzetyejudtdxbfz:YOUR_PASSWORD@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.nyweizzetyejudtdxbfz:YOUR_PASSWORD@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="printflow-mis-secret-key-2025-production"
NEXT_PUBLIC_SHOP_NAME="PrintFlow Print House"
NEXT_PUBLIC_SHOP_ADDRESS="Lucknow, Uttar Pradesh"
NEXT_PUBLIC_SHOP_GST="09XXXXX1234Z1ZX"
NEXT_PUBLIC_SHOP_PHONE="9876500000"
